language: android

jdk:
  - oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - build-tools-24.0.2
    - android-24

sudo:
  false

script:
  gradle/build.sh

cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle
