language: android

jdk:
  - oraclejdk8

android:
  components:
    - build-tools-23.0.3
    - android-23

sudo:
  false

script:
  gradle/build.sh

cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle
